<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
            
			<key>CFBundleURLName</key>
			<string>Google</string>
            
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.172460374843-dllgb5kk8c2cb559b9tqjon03qo4u2c1</string>
			</array>
            
            <key>UISupportedInterfaceOrientations</key>
            <array>
                <string>UIInterfaceOrientationPortrait</string>
            </array>
            
            <key>UIDeviceFamily</key>
            <array>
                <integer>1</integer> <!-- 1 = iPhone only -->
            </array>


		</dict>
	</array>
	<key>NSPrivacyUsageDescription</key>
	<string>We need permission to manage app access using Screen Time controls.</string>
</dict>
</plist>
